# .dockerignore

# Ignore the user-specific instance folder. The container will create its own.
instance__2/

# Ignore Python virtual environment and cache files.
venv/
__pycache__/
*.pyc
*.pyo

# Ignore Git and GitHub specific files.
.git/
.github/
.gitignore

# Ignore IDE-specific folders.
.idea/
.vscode/

# Ignore documentation files (optional, but good for image size).
# Note: We are NOT ignoring the LICENSE file.
README.md
*.md

# Pytest files
tests/
.pytest_cache/