<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nova DSO Tracker{% endblock %}</title>

    <!-- favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon_v2.ico') }}"
      type="image/x-icon"
    >

    <!-- Roboto from Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- your main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head_extra %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
